{% if files %}
<div class="download-files">
    <h3>Файлы для скачивания</h3>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ file.url }}" download="{{ file.name|replace({' ': '_'}) ~ '.' ~ file.ext }}">
                {{ file.name }}.{{ file.ext }}
                {# <span>({{ file.size }}, )</span> #}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
